#tituloPrincipal{
        color: red;
    
}

.parrafo{
       text-align: center;
       color: green;
       
    
}

.enfasis{
        background-color: buttonshadow;
        color:red;
    
}
a{
    color:brown;
    
}
